#islandMap {
	background-image: url('../img/island/island.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.island #mainMenu {
    display: block;
    top: 28%;
    left: 86%;
}

#islandMap .caption {
    top: 25%;
    right: 2%;
}

.map {
    width: 6%;
    height: auto;
    position: absolute;
    opacity: 0.7;
    z-index: 6;
}

.map:hover {
    -webkit-transform: scale(1.6);
	-moz-transform: scale(1.6);
	transform: scale(1.6);
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    transition-duration: 2s;
	cursor: url('../img/icons/cursor/cursor-14.png'), auto;
}

p.map-p-html, p.map-p-css, p.map-p-js {
    width: 5%;
    height: 5%;
    position: absolute;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.7em;
	letter-spacing: 2px;
	color: #000;
	text-shadow: -1px -1px #cb8a4d, 1px 1px #d7b48e;
	z-index: 5;
}

#js-map, #css-map, #html-map {
    width: 5%;
    height: 10%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#html-map {
    left: 32%;
    top: 28%;
    background-image: url('../img/map/treasure-maps/treasure-map-html.png');
	z-index: 3;
}

#css-map {
    right: 27%;
    top: 23%;
    background-image: url('../img/map/treasure-maps/treasure-map-css.png');
}

#js-map {
    left: 51%;
    bottom: 34%;
    background-image: url('../img/map/treasure-maps/treasure-map-js.png');
}

p.map-p-css {
	top: 26.7%;
	right: 27%;
	color: #1758a7;
}

p.map-p-js {
	bottom: 35.3%;
	left: 51%;
	font-size: 0.9em;
	color: #4a8609;
}
p.map-p-html {
	top: 31.7%;
	left: 32.1%;
	font-size: 0.5em;
	color: #e44d26;
}
